.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 250px}
.u-section-1 .u-group-1 {width: 1000px; min-height: 250px; height: auto; margin: 0 auto}
.u-section-1 .u-container-layout-1 {padding: 20px}
.u-section-1 .u-text-1 {font-size: 3rem; margin: 0} 

@media (max-width: 1199px){ .u-section-1 .u-group-1 {width: 838px}
.u-section-1 .u-text-1 {position: relative; font-size: 8rem} }

@media (max-width: 991px){ .u-section-1 .u-group-1 {width: 642px} }

@media (max-width: 767px){ .u-section-1 .u-group-1 {width: 540px; margin-top: 60px; margin-bottom: 60px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-1 {font-size: 6rem} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 470px}
.u-section-1 .u-group-1 {min-height: 229px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-text-1 {font-size: 3.75rem} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 557px} 

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 1070px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 400px} 

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: auto} }