.u-section-1 {background-image: none; min-height: 987px}
.u-section-1 .u-shape-1 {width: 229px; background-image: none; height: 864px; margin: 13px auto 0 calc(((100% - 1140px) / 2) + -3px)}
.u-section-1 .u-layout-wrap-1 {width: 1081px; margin: -791px 0 60px auto}
.u-section-1 .u-image-1 {min-height: 791px; background-image: url("images/LeanneNagels.png"); background-position: 54.5% 50%}
.u-section-1 .u-container-layout-1 {padding: 30px 0}
.u-section-1 .u-layout-cell-2 {min-height: 791px}
.u-section-1 .u-container-layout-2 {padding: 6px 180px 4px 60px}
.u-section-1 .u-text-1 {text-transform: uppercase; letter-spacing: normal; font-family: Boogaloo; font-weight: 400; font-size: 2.25rem; margin: 0}
.u-section-1 .u-text-2 {font-size: 1.875rem; line-height: 1; letter-spacing: normal; font-family: Allura; font-weight: 400; margin: 0}
.u-section-1 .u-text-3 {font-size: 1.125rem; font-style: italic; margin: 36px 14px 0 0}
.u-section-1 .u-btn-1 {background-image: none; text-transform: uppercase; letter-spacing: 3px; font-weight: 700; font-size: 1rem; border-style: none; margin: 11px auto 0 0; padding: 10px 52px 10px 51px} 

@media (max-width: 1199px){ .u-section-1 {min-height: 928px}
.u-section-1 .u-shape-1 {height: 623px; margin-top: 153px; margin-left: calc(((100% - 1140px) / 2) + 97px)}
.u-section-1 .u-layout-wrap-1 {width: 751px; margin-top: -622px; margin-right: auto; margin-left: calc(((100% - 1140px) / 2) + 100px)}
.u-section-1 .u-image-1 {min-height: 625px}
.u-section-1 .u-container-layout-1 {padding-bottom: 305px}
.u-section-1 .u-layout-cell-2 {min-height: 625px}
.u-section-1 .u-container-layout-2 {padding-top: 0; padding-bottom: 0}
.u-section-1 .u-text-1 {font-size: 3rem; text-transform: none; font-family: Roboto, sans-serif; font-weight: normal}
.u-section-1 .u-text-2 {width: auto; margin-right: -80px}
.u-section-1 .u-text-3 {font-size: 0.875rem; width: auto; margin-right: -120px} }

@media (max-width: 991px){ .u-section-1 {min-height: 100vh}
.u-section-1 .u-shape-1 {width: 212px; height: 549px; margin-top: 0; margin-left: calc(((100% - 1140px) / 2) + 157px)}
.u-section-1 .u-layout-wrap-1 {width: 701px; margin-top: -549px; margin-left: calc(((100% - 1140px) / 2) + 210px)}
.u-section-1 .u-image-1 {min-height: 593px}
.u-section-1 .u-container-layout-1 {padding-bottom: 30px}
.u-section-1 .u-layout-cell-2 {min-height: 593px}
.u-section-1 .u-container-layout-2 {padding-right: 30px; padding-left: 30px}
.u-section-1 .u-text-3 {margin-right: 0} }

@media (max-width: 767px){ .u-section-1 .u-shape-1 {margin-left: calc(((100% - 540px) / 2) + 157px)}
.u-section-1 .u-layout-wrap-1 {width: 381px; margin-left: calc(((100% - 540px) / 2))}
.u-section-1 .u-image-1 {min-height: 1488px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-container-layout-2 {padding-right: 10px; padding-left: 10px} }

@media (max-width: 575px){ .u-section-1 {min-height: 409px}
.u-section-1 .u-shape-1 {margin-left: calc(((100% - 340px) / 2) + 128px)}
.u-section-1 .u-layout-wrap-1 {width: 340px; margin-left: calc(((100% - 340px) / 2))}
.u-section-1 .u-image-1 {min-height: 538px}
.u-section-1 .u-text-2 {margin-right: 0} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 144px}